* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
@font-face {
    font-family:'segoepr';
    src: url(font/segoepr.ttf) format(truetype); 
}
@font-face {
    font-family:'MsMadi-Regular';
    src: url(font/MsMadi-Regular.ttf) format(truetype); 
}
@font-face {
    font-family:'segoeprb';
    src: url(font/segoeprb.ttf) format(truetype); 
}
@font-face {
    font-family:'Autography';
    src: url(font/Autography.ttf) format(opentype); 
}
html,body{
    overflow-x: hidden;
}
.header{
    width: 100%;
    background-color: #414141;
}
.header .row{
    justify-content: space-between;
}
.header .logo{
    display: flex;
}
.header .head-logo{
    padding: 10px 100px;
    display: flex;
}
.header .menu{
    padding-top: 30px;
    padding-left: 200px;
}
.header .menu a{
    font-family:'segoeprb',cursive;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    padding-left: 40px;
    font-weight: 200;
}
.hamburger{
    padding: 30px 0;
    display: none;
}
.hamburger i{
    font-size: 30px;
    color: #b88558;
}
/* responsive-header */
 @media only screen and (max-width: 1400px)
 {
    .header .menu {
        padding-left: 100px;
    }
 }
 @media only screen and (max-width: 991px){
    
    .header .menu {
        padding-left: 0px;
        margin: 20px 200px;
    }
    .header .menu a { 
        padding-left: 40px;
        
    }
    .header .logo {
        display: flex;
        justify-content: center;
    }
 }
 @media only screen and (max-width:768px)
 {
    .header .menu {
        margin: 20px 100px;
    }
 }
 @media only screen and (max-width:576px)
 {
    .header .menu {
        margin: 20px 0px;
    }
    .header .menu a { 
        padding-left: 30px;
        
    }
 }
 @media only screen and (max-width:400px)
 {
    .hamburger{
        display: block;
    }
    .menu{
        display: none;

    }
    .menu a{
        display: block;
       margin: 30px auto;
    }

 }
/* responsive-header-end */
/* Banner */
.banner{
    width: 100%;
    background-color: #f4f4f4;
    margin-bottom: 130px;
}
.banner h1{
   font-family: "segoepr", sans-serif;
   font-weight: bold;
   padding-bottom: 20px;
   font-family: 'segoepr', cursive;
   font-weight: 600;
   font-size: 48px;
}
.banner p{
    font-size: 24px;
    color: #999999;
    font-family: 'segoepr', cursive;
    
 }
.banner .ban-con{
    padding: 80px;
}
/* Banner-end */

/* main-content-1 */
  .container1{
    width: 80%;
    margin: 0 auto;
    font-family: "poppins", sans-serif;
  }
  .pil{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .pil .active{
    border: 1px solid #dcdcdc;
  }
  .pil .nav-link{
    border: 1px solid #dcdcdc;
  }
  .container1 .col-lg-8{
    padding-left: 210px;

  }
  .container1 .col-lg-8 h1{
    padding-bottom: 10px;

  }
  .container1 .col-lg-8 .rating{
    width: 50%;
   display: flex;
   justify-content: space-between ;
   padding:10px 0 5px 0;
  }
  .container1 .col-lg-8 .rating img{
   width: 30px;
   height: 30px;
   }
   .container1 .col-lg-8 .rating p{
   font-size: 20px;
   color: #9d9d9d;
   }
   .container1 .col-lg-8 .p-txt{
    font-size: 22px;
    color: #3a3a3a;
    font-weight: 300;
    padding: 20px 0 40px 0;
   }
   .container1 .col-lg-8 .wishlist button{
    background-color: #fff;
    font-size: 18px;
    color: #3a3a3a;
    font-weight: 300;
    border: none;
    padding: 10px 20px 30px 20px;
   }
   
   .container1 .col-lg-8 .shop button{
   background-color: #b88558;
   padding: 15px 40px;
   color: #fff;
   border: none;
   border-radius: 50px;
   font-size: 22px;
   font-weight: 300;
   }
   .container1 .col-lg-8 input{
    margin: 20px;
    font-size: 20px;
    border: 1px solid #dcdcdc;
    width: 120px;
    height: 70px;
    border-radius: 50px;
   }
   .container1 .col-lg-8 .cata p{
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 500;
   }
   .container1 .col-lg-8 .cata p span{
    color: #b59b84;
    font-size: 200;
   }


 

/* main-content-1 end */

/* main-content-2 */
   .container2{
    width: 80%;
    margin: 60px auto;
    border: 1px solid #dedede;
    font-family: "poppins", sans-serif;

   }
   .con2-sub{
    padding: 10px;
   }
   .con2-sub .tab{
    background-color: #f4f4f4;
    width:28%;
   }
   
   .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .active {
    padding: 10px 30px;
    font-size: 24px;
    font-weight: 800;
   }
   .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    padding: 15px 30px 10px 30px;
    font-size: 24px;
     color: #3a3a3a; 
   }
   .p1{
    color: #b6855a;
    font-weight: 500;
   }
   .tab-content{
    background-color: #f4f4f4;
    padding: 25px;
   }
   .tab-content p{
    font-size: 20px;
    color: #3a3a3a;
    font-weight: 300;

   }

/* main-content-2 end */
/* main-content-3 */
.container3{
    width: 80%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 100px;
}
.container3 .row{
    justify-content: space-between;
}
.con3-cap h1{
    color: #b8855a;
    font-size: 50px;
}
.con3-cap p{
    color: #a2a2a2;
    font-size: 20px;
}

.product-img{
    position: relative;
}
.product-img .like-btm{
    position: absolute;
    top: 0;
    display: grid;
}

.container3 .pro-des{
    padding-top: 30px;
}
.container3 .pro-des .d1{
    font-size: 24px;
    color: #989898;
}

.container3 .pro-des .price{
    font-size: 24px;
    color: #b18761;
    padding-top:20px ;
}
.container3 .pro-des button{
    background-color: #acacac;
    
        border: none;
        color: white;
        padding: 10px 40px;
        border-radius: 60px;
        font-size: 20px;
        font-weight: 300;
        margin-top: 20px;
    
}
.container3 .col-lg-3{
    margin-top: 80px;
}

/* main-content-3 */

/* responsive-body */
@media only screen and (max-width: 1400px){
    .container1 .row{
        flex-direction: column;
    }
    .container1 {
        width: 50%;
        margin: 0 auto;
        font-family: "poppins", sans-serif;
    }
    .container1 .col-lg-8 {
        padding-left: 0px;
        padding-top: 80px;
    }
    .con2-sub .tab{
        display: inline;
    }

     .product-img .img11{
       width: 270px;
    }
    .l2{
        z-index: 9999;
        position: relative;
    } 
    

}

@media only screen and (max-width: 991px)
{
    .f-img{
        width: 400px;
    }
    #v-pills-tabContent{
        width: 450px;
    }
    .container1 .col-lg-8 .rating {
        width: 80%;
    }
    .product-img .img11 {
        width: 350px;
    }
    .product-img {
        position: relative;
        margin-left: 200px;
    }
}
@media only screen and (max-width:768px){
    .f-btm{
        width: 150px;
    }
    .product-img {
        position: relative;
        margin-left: 130px;
    }
}
@media only screen and (max-width:576px){
    .product-img {
        position: relative;
        margin-left: 50px;
    } 
    .f-img{
        width: 280px;
    }
    .f-btm{
        width: 120px;
    }
    #v-pills-tabContent{
        width: 330px;
    }
    .container1 .col-lg-8 .p-txt {
        font-size: 18px;
        color: #3a3a3a;
        font-weight: 300;
        padding: 20px 0 40px 0;
    }
    .container1 .col-lg-8 .rating {
        width: 100%;
    }
    .container1 .col-lg-8 .rating p{
        font-size: 18px;
}
}
@media only screen and (max-width:400px){
    .container1 {
        width: 80%;
       
    }
    .f-btm {
        width: 100px;
    }
    .tab-content p {
        font-size: 18px;
        color: #3a3a3a;
        font-weight: 300;
    }
    .product-img .img11 {
        width: 300px;
    }
    .product-img{
        margin-left: 0;
    }
}

/* footer */
.footer{
    background-image: url(../img/Group388.png);
    width: 100%;
    font-family:"poppins",sans-serif ;
}
.foot1-img{
    padding-bottom: 20px;
}
.footer h3{
    font-family:"segoepr",cursive ;
    padding-bottom: 20px;
}
.foot2{
    padding-left: 20px;
}
.foot2 p{
   margin: 20px auto;
}
.footer .row{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
   
}
.footer h3{
    color: white;
}
.footer p{
    color: #989898;
    font-size: 24px;
    
}
.footer a{
    color: #989898;
    font-size: 24px;
    text-decoration: none;
    display: block;
}
.foot4{
    transform: translate(50px, 0px);
}
.col-lg-3{
    padding: 100px auto;
}
/* responsive-footer */
@media only screen and (max-width:1400px){
    .footer p {
        font-size: 18px;
    }
}
@media only screen and (max-width:991px){
    .footer p {
        font-size: 14px;
    }
    .foot2 img{
        width: 20px;
    }
    .foot3{
        padding-left: 50px;
    }
    .footer .col-lg-4{
        padding-top: 50px;
    }
    .footer .col-lg-2{
        padding-top: 50px;
    }
    
}
@media only screen and (max-width:768px){
    .footer p {
        font-size: 18px;
    }
    .footer .row{
        padding: 50px 100px;
    }
    .footer .col-lg-4{
        padding-bottom: 30px;
    }
    .footer .col-lg-2{
        padding-bottom: 30px;
    }
    .foot3{
        padding-left: 50px;
    }
}
@media only screen and (max-width:576px){
    .footer .row{
        padding:30px 20px;
    }
}
@media only screen and (max-width:400px){
    .footer .row{
        padding:30px 0px;
    }
    .footer p {
        font-size: 15px;
    }
}


/*  */
